@font-face {
  font-family: Balsamiq Sans;
  src: url("Balsamiq_Sans/BalsamiqSans-Regular.ttf");
}
@font-face {
  font-family: Balsamiq Sans;
  font-weight: bold;
  src: url("Balsamiq_Sans/BalsamiqSans-Bold.ttf");
}

p {
  font-family: "Balsamiq Sans", cursive;
}

h2,
h1,
label {
  font-family: "Balsamiq Sans", cursive;
  font-weight: bold;
}

body {
  background: #d4d1e4;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}
.container {
  max-width: 400px;
}
input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.icon {
  position: relative;
  top: -50px;
  border-radius: 50px;
  width: 100px;
  margin-bottom: -50px;
}
